body{ 
    background-color: #444;
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
}

h1, h2 {
    font-weight: 300;
}
ul{
    border: 1px solid;
    margin: 0;
}
li {
    text-align: start;
    border: 1px solid;
    padding: 4px;
    padding-inline-start: 8px;
    list-style: square;
}